@charset "UTF-8";
body {
  padding: 3px;
  background: #d3d3d3; }

img {
  margin: 10px;
  border: 5px;
  solid: #000000; }

.fss {
  font-size: 90%;
  padding: 5px; }

.nowrap {
  white-space: nowrap; }

a {
  color: navy; }

tr.color0, div.color0 {
  border: solid 1px #999;
  background-color: #cfe5fc !important; }

tr.color1, div.color1 {
  border: solid 1px #999;
  background-color: #d1d4e9 !important; }

tr.color2, div.color2 {
  border: solid 1px #999;
  background-color: #ffdde2 !important; }

tr.color3, div.color3 {
  border: solid 1px #999;
  background-color: #f1cfef !important; }

tr.color4, div.color4 {
  border: solid 1px #999;
  background-color: #bbdefb !important; }

tr.color5, div.color5 {
  border: solid 1px #999;
  background-color: #b2dfdb !important; }

tr.color6, div.color6 {
  border: solid 1px #999;
  background-color: #c8e6c9 !important; }

tr.color7, div.color7 {
  border: solid 1px #999;
  background-color: #f0f4c3 !important; }

tr.color8, div.color8 {
  border: solid 1px #999;
  background-color: #ffe8c2 !important; }

tr.color9, div.color9 {
  border: solid 1px #999;
  background-color: #ffdccc !important; }

tr.color10, div.color10 {
  border: solid 1px #999;
  background-color: #e7dfd8 !important; }

tr.color11, div.color11 {
  border: solid 1px #999;
  background-color: #e2ffb9 !important; }

tr.color12, div.color12 {
  border: solid 1px #999;
  background-color: #aff0ce !important; }

tr.color13, div.color13 {
  border: solid 1px #999;
  background-color: #b7ffeb !important; }

tr.color14, div.color14 {
  border: solid 1px #999;
  background-color: #ffcac0 !important; }

tr.color15, div.color15 {
  border: solid 1px #999;
  background-color: #c2d1ff !important; }

tr.color16, div.color16 {
  border: solid 1px #999;
  background-color: #e6c8ff !important; }

tr.color17, div.color17 {
  border: solid 1px #999;
  background-color: #8c9eff !important; }

tr.colorGray, div.colorGray {
  border: solid 1px #999;
  background-color: #aaaaaa !important; }

td.alertR, div.alertR {
  border: solid 3px red !important; }

td.alertY, div.alertY {
  border: solid 3px yellow !important; }

td.alertB, div.alertB {
  border: solid 3px black !important; }

td.alertBD, div.alertBD {
  border: dashed 3px black !important; }

td.alertGD, div.alertGD {
  border: dashed 3px gray !important; }

#in, #email_inline {
  height: 2em; }

#email_inline {
  width: 50%;
  margin-left: 1em; }

#title {
  margin: 0.5em 0.5em 0.5em 0.5em;
  font-size: 1.5em; }

td.error {
  color: crimson !important; }

td.warn {
  color: purple !important; }

td.atte {
  color: indigo !important; }

/* 上に戻るボタン */
.pagetop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 15px; }
  .pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 24px;
    text-decoration: none;
    padding: 5px 10px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5; }
    .pagetop a:hover {
      display: block;
      background-color: #b2d1fb;
      text-align: center;
      color: #fff;
      font-size: 24px;
      text-decoration: none;
      padding: 5px 10px;
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      opacity: 0.5; }
